/* palette */
:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}

/* reset */
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* general */
section
{
    margin: 50px 0 0 0;
}
.container
{
    padding: 5px;
}
.fluid
{
    width: 100%;
    display: block;
}
h2
{
    font-size: 2.5em;
}
.h2-small
{
    font-size: 1.3em;
}
h3
{
    font-size: 1.7em;
}
/* 
    UTILITIES
*/
/* aligning */
.a-center
{
    align-items: center;
    justify-content: center;
    display: flex;
}
/* borders */
.br-small
{
    border-radius: 20px;
}
.br-big
{
    border-radius: 60px;
}
.br-circle
{
    border-radius: 50%;
}
/* backgrounds */
.bg-light
{
    background-color: var(--color-light-color);
}
.bg-intro
{
    background-color: var(--color-bg-card);
}
.bg-primary
{
    background-color: var(--color-primary-color);
}
.bg-secondary
{
    background-color: var(--color-secondary-color);
}
.bg-dark
{
    background-color: var(--color-dark-color);
}
/* texts */
body
{
    font-family: 'PT Sans', sans-serif;
    color: var(--color-text);
}
.txt-center
{
    text-align: center;
}
.line-h
{
    line-height: 2em;
}
.txt-primary
{
    color: var(--color-primary-color);
}
.txt-secondary
{
    color: var(--color-secondary-color);
}
.txt-light
{
    color: var(--color-light-color);
}
.maiusc
{
    text-transform: uppercase;
}
.fs
{
    font-size: 1.3em;
}
/* buttons */
.btn
{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.3em;
    letter-spacing: 0.2em;
}
/* spacing */
.px-10
{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-20
{
    padding-left: 20px;
    padding-right: 20px;
}
.py-20
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.px-30
{
    padding-left: 30px;
    padding-right: 30px;
}
.py-30
{
    padding-top: 30px;
    padding-bottom: 30px;
}
.py-50
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.mb-30
{
    margin-bottom: 30px;
}
.mb-10
{
    margin-bottom: 10px;
}
/*
    HEADER
*/
header
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
#logo
{
    width: 70px;
}
.nav-flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-solid.fa-bars
{
    font-size: 1.5em;
}
nav ul
{
    display: none;
}


/* 
MAIN
*/
main
{
    margin-top: 110px;
}
.image
{
    position: relative;
    top: 30px;
}
.icon
{
    font-size: 6em;
    color: var(--color-secondary-color);
}
.profile img
{
    width: 250px;
    height: 250px;
    object-fit: cover;
}


.down
{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark-color);
}
.fa-solid.fa-arrow-down-long
{
    color: var(--color-dark-color);
}
#action
{
    color: var(--color-contrast-color);
    font-size: 4.5em;
    font-weight: 700;
}
.fa-solid.fa-circle
{
    font-size: 0.4em;
    vertical-align: middle;
}

/* MEDIA QUERY */
@media screen and (min-width:992px)
{
    nav ul
    {
        display: block;
        list-style: none;
    }
    nav a
    {
        text-decoration: none;
    }
    .fa-solid.fa-bars
    {
        display: none;
    }
    .d-flex
    {
        display:flex;
        flex-flow:row wrap;
    }
    #intro .card
    {
        height: 100%;
    }  
    #intro .col
    {
        width: calc(100% / 3);
    } 
    #intro .col:first-child
    {
        width: calc((100% / 3) * 2);
    }
    #benefits .card 
    {
        width: calc(100% / 2);
    }
    .cit
    {
        width: calc(100% - 250px);
        padding: 0 20px;
    }
    #about-us .card:first-child
    {
        width: 65%;
    }
    #about-us .card:last-child
    {
        width: 35%;
    }
    
}
@media screen and (min-width:1200px){
    .container
    {
        max-width: 1140px;
        margin: 0 auto;
    }
    #planning .container
    {
        display: flex;
    }
    #planning .card
    {
        width: 50%;  
    }
    #benefits .card 
    {
        width: calc(100% / 3);
    }

}
